amplify/backend/workflow/acdSendEmailWithDelay/adnan.json
{
  "Comment": "Call mcSendEmail function",
  "StartAt": "Choice State",
  "States": {
    "Choice State": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.input.email.to",
              "IsPresent": true
            },
            {
              "Variable": "$.input.email.to",
              "IsNull": false
            },
            {
              "Variable": "$.input.email.to[0]",
              "StringGreaterThan": ""
            }
          ],
          "Next": "Wait State"
        }
      ],
      "Default": "Pass State"
    },
    "Pass State": {
      "Type": "Pass",
      "End": true
    },
    "Wait State": {
      "Type": "Wait",
      "TimestampPath": "$.input.dueDate",
      "Next": "Send Email Function"
    },
    "Send Email Function": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:644871051928:function:marsconnectedSendEmail-newdev",
      "Parameters": {
        "message.$": "$.input.message",
        "email.$": "$.input.email",
        "to.$": "$.input.email.to",
        "subject.$": "$.input.email.subject",
        "textBody.$": "$.input.email.textBody",
        "htmlBody.$": "$.input.email.htmlBody",
        "dueDate.$": "$.input.dueDate",
        "appendScheduleDateToBody.$": "$.input.appendScheduleDateToBody"
      },
      "Retry": [
        {
          "ErrorEquals": ["CustomError"],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 5,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}
